footer {
	width: 100%;
	margin-top: 90px;
	background-color: #273746;
}

#footer-menu {
	width: 1050px;
	margin: 0 auto;
}

footer nav {
	float: left;
	padding: 15px 0px;
	width: 150px;
}

footer nav a {
	color: white;
	text-decoration: none;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
}

footer nav a:hover {
	color: orange;
}	