*
{
	box-sizing: border-box;
}

body {
	background: url(img/web-img/login-wallpaper4.jpg) no-repeat center center fixed;
	background-size: cover;

}

#cuerpo {
	width: 950px;
	margin: 80px auto 0 auto;
	border-radius: 4px;
}

#register {
	float: left;
	border: 1px solid;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	height: 350px;
	width: 600px;
	background-color: rgba(76, 11, 95, 0.73);
}

#login {
	border: 1px solid;
	border-color: black;
	width: 350px;
	height: 350px;
	float: left;
	background-color: rgba(0, 0, 0, 0.73);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

table {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: white;
	width: 350px;
	padding: 7px 0px;
}

table tr {
	padding: 5px 0px;
	opacity: 1;
}

table tr td {
	text-align: center;
	height: 45px;
	opacity: 1;
}

.boton {
	font-size: 22px;
	border-radius: 4px;
	margin-top: 18px;
	border: 1px solid;
}

.boton:hover {
	font-size: 23px;
	color: orange;
}