*
{
	font-family: Trebuchet MS;
}

.clear {
	clear: both;
}

#nav-cont {
	min-width :100%;
	height: 76px;
	width: 100%;
	margin-left: -8px;
	margin-top: -8px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position: absolute;
	left:0; right:0; top:0;
}

#nowaifu-logo {
	float: left;
	position: fixed;
	top: 5px;
	right: 0;
	left: 25px;
	width: 8%;
}

#nav {
	height: 64px;
	width: 425px;	
	text-align: right;
	font-size: 24px;
	padding-top: 14px;
	padding-right: 50px;
	position: fixed;
	left: 1114.310;
	top: 0;
	right: 0;
	text-shadow: -1px -1px 1px black;
	font-weight: bolder;
	background-color: rgba(255, 255, 255, 0.4);
	border-bottom-left-radius: 6px;
}

#nav a {
	padding: 5px 0px 0px 20px; 
	text-decoration: none;
	color: #DF01D7;
}

#nav a:hover {
	color: orange;
}

