*
{
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}

#cuerpo {
	width: 950px;
	margin: 200px auto 0 auto;

}

.img-description {
	background-color: rgba(255, 255, 255, 0.3);
	max-width: 275px;
	min-width: 275px;
	padding-bottom: 0.1px;
	margin-left: 25px;
	margin-top: 25px;
	float: left;
}

.img-description img {
	background-color: red;
	max-height: 250px;
	max-width: 275px;
	padding: 0 auto;
	margin: 0 auto;
}

.img-description p {
	padding-left: 12px;
	text-align: center;
}

.fecha-img {
	font-size: 11px;
}